{% block title %}Главная{% endblock %}

{% block content %}
    <h1>
        {{user.username}}
    </h1>

    <a href={% url 'signin' %}>login</a>
    <a href={% url 'signup' %}>reg</a>
    <a href={% url 'logout' %}>logout</a>

    {% with profile=user.profile %}
        {% if profile %}
        <h1>34klfdg</h1>
            Возраст: {{profile.age}}
        <h2>
            Бонус: {{profile.bonus}}%
        </h2>
        <div>
            Баланс: {{profile.balance}} р.
        </div>
        {%endif%}
    {% endwith %}
{% endblock %}