{% load static %}

{% block content %}
    <!DOCTYPE html>
      <html>
        <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta name="author" content="Марат Маур">
          <meta name="description" content="Тестовая страница">
          <meta name="keywords" content="тест,проверка,html">
          <title>{{ event.name }}</title>
          <link rel="icon" type="image/x-icon" href="{% static 'main/icon/favicon.ico' %}">
          <link rel="stylesheet" href="{% static 'main/lib/bootstrap-5.3.1-dist/css/bootstrap.min.css' %}">
          <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
          <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0"/>
        </head>
        <body>
            {% include "accounts/header_fragment.html" %}
            <section>
                <div class="container" id="event-container">
                    <img src="{{ event.image.url|slice:'12:' }}" alt="{{ event.name }}" height="300">
                    <div class="event-info">
                        <h3>{{ event.name }}</h3>
                        <br>
                        Дата проведения:
                        {{ event.end_date }}
                        <br>
                        Место проведения:
                        {% for el in ticket %}
                            {{ el.spot }}
                        {% endfor %}
                        <br>
                        Возрастное ограничение:
                        {{ event.ages }}
                        <br>
                        Стоимость:
                        {% for el in ticket %}
                            {{ el.price }} руб.
                        {% endfor %}
                        <br>
                        <a class="btn btn-sm" id="buy-event">Купить билет</a>
                    </div>
                </div>
                <div class="container" id="description">
                    <p>{{ event.description }}</p>
                </div>
            </section>
            {% include "accounts/footer_fragment.html" %}
        <script src="{% static 'main/js/header.js' %}"></script>
        </body>
      </html>

{% endblock %}